- **Dataset(s) to be used:** [[U.S Energy Info](https://www.eia.gov/state/seds/seds-data-complete.php?sid=US#PricesExpenditures)]
[[U.S. Bureau of Economic Analysis (BEA)](https://apps.bea.gov/itable/?ReqID=70&step=1#eyJhcHBpZCI6NzAsInN0ZXBzIjpbMSwyOSwyNSwzMSwyNiwyNywzMCwzMF0sImRhdGEiOltbIlRhYmxlSWQiLCI2MDAiXSxbIk1ham9yX0FyZWEiLCIwIl0sWyJTdGF0ZSIsWyIwIl1dLFsiQXJlYSIsWyJYWCJdXSxbIlN0YXRpc3RpYyIsIi0xIl0sWyJVbml0X29mX21lYXN1cmUiLCJMZXZlbHMiXSxbIlllYXIiLFsiLTEiXV0sWyJZZWFyQmVnaW4iLCItMSJdLFsiWWVhcl9FbmQiLCItMSJdXX0=)]
- **Analysis question:** Do states with higher energy expenditure as a % of GDP also have higher consumer spending levels and employment?
- **Columns that will (likely) be used:**
  - State
  - Energy expenditures as percent of current-dollar gross domestic product (GDP)
  - Per capita personal consumption expenditures
  - Employment
  - Prices
- (If you're using multiple datasets) **Columns to be used to merge/join them:**
  - [U.S Energy Info] - [State]
  - [U.S. Bureau of Economic Analysis (BEA)] - [GeoName]
- **Hypothesis**: States with higher consumer spending have a lower proportion of GDP spent on energy and higher employment. (Richers states invest more on renewable so energy expenditure is low)

- **Site URL:** [URL from Publish section]

Previously in Project 2, I explored if the state energy expenditure has fallen over time as renewable energy consumption increased. Now I will explore the relationship between share of Energy expenditure as a % of GDP and consumer spending.

***First, I need to import packages***

In [1]:
import pandas as pd
import plotly.express as px

***Import the state level consumer spending dataset***

In [39]:
consumer_data = pd.read_csv("income_exp_state.csv", skiprows=3) ## data starts from row 4, so skipping first 3 rows
consumer_data

,GeoFips,GeoName,LineCode,Description,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,00000,United States,NaN,Real dollar statistics,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00000,United States,1.0,Real GDP (millions of chained 2017 dollars) 1,12924876.0,13543774.0,14096033.0,14230726.0,14472712.0,14877312.0,...,18261714.0,18799622.0,19141672.0,19612102.0,20193896.0,20715671.0,20267585.0,21494798.0,22034828.0,22671096.0
2,00000,United States,2.0,Real personal income (millions of constant (...,(NA),(NA),(NA),(NA),(NA),(NA),...,15216230.2,15896447.7,16162029.4,16658962.0,17163074.0,17720998.0,18741358.9,19626220.8,18803662.1,(NA)
3,00000,United States,3.0,Real PCE (millions of constant (2017) dollar...,(NA),(NA),(NA),(NA),(NA),(NA),...,12226445.7,12638789.0,12949012.2,13290625.5,13654925.4,13928263.5,13576965.0,14718156.7,15090796.8,(NA)
4,00000,United States,NaN,Current dollar statistics (millions of dollars),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,8. Per capita PCE estimates are in current dol...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1101,9. Regional price parities (RPPs) measure pric...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1102,10. Implicit regional price deflators (IRPDs) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1103,(NA) In the latest year (NA) indicates the sta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1104,"Last updated: October 3, 2024.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Checking values for all columns before reshaping***

In [40]:
consumer_data["Description"].unique()
consumer_data["GeoFips"].unique()

consumer_data = consumer_data.dropna(subset=['GeoName']) ## dropping all missing values under GeoName as these are not states
consumer_data

,GeoFips,GeoName,LineCode,Description,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,00000,United States,NaN,Real dollar statistics,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00000,United States,1.0,Real GDP (millions of chained 2017 dollars) 1,12924876.0,13543774.0,14096033.0,14230726.0,14472712.0,14877312.0,...,18261714.0,18799622.0,19141672.0,19612102.0,20193896.0,20715671.0,20267585.0,21494798.0,22034828.0,22671096.0
2,00000,United States,2.0,Real personal income (millions of constant (...,(NA),(NA),(NA),(NA),(NA),(NA),...,15216230.2,15896447.7,16162029.4,16658962.0,17163074.0,17720998.0,18741358.9,19626220.8,18803662.1,(NA)
3,00000,United States,3.0,Real PCE (millions of constant (2017) dollar...,(NA),(NA),(NA),(NA),(NA),(NA),...,12226445.7,12638789.0,12949012.2,13290625.5,13654925.4,13928263.5,13576965.0,14718156.7,15090796.8,(NA)
4,00000,United States,NaN,Current dollar statistics (millions of dollars),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,56000,Wyoming,NaN,Price indexes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1088,56000,Wyoming,13.0,Regional price parities (RPPs) 9,(NA),(NA),(NA),(NA),(NA),(NA),...,97.424,96.972,97.747,97.185,92.345,94.108,91.826,91.489,91.903,(NA)
1089,56000,Wyoming,14.0,Implicit regional price deflator 10,(NA),(NA),(NA),(NA),(NA),(NA),...,94.619,94.353,96.070,97.185,94.236,97.415,96.082,99.724,106.647,(NA)
1090,56000,Wyoming,NaN,Employment,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1091,56000,Wyoming,15.0,Total employment (number of jobs),310043,315198,324653,330130,334129,336769,...,406401,406045,398144,398968,404591,407870,401353,419813,430153,443007

***Cleaning data***

In [43]:
## After trying to filter my variables of interest, I found that the description column has spaces before each text so I need to remove them

consumer_data["Description"].unique() 
consumer_data['Description'] = consumer_data['Description'].str.lstrip()

consumer_data_filtered = consumer_data[consumer_data['Description'].isin(['Total employment (number of jobs)', 'Per capita personal consumption expenditures (PCE) 8'])]
consumer_data_filtered

C:\Users\ijaza\AppData\Local\Temp\ipykernel_6376\2612609433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consumer_data['Description'] = consumer_data['Description'].str.lstrip()

,GeoFips,GeoName,LineCode,Description,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
15,00000,United States,12.0,Per capita personal consumption expenditures (...,21306,22519,23983,24823,25550,26682,...,37192,38211,39236,40691,42413,43719,42910,48529,53082,56202
20,00000,United States,15.0,Total employment (number of jobs),158481200,161531300,165370800,165522200,165095100,165921500,...,186239800,190325800,193425900,196394100,200292200,201622200,195262600,202706100,210414200,216314200
36,01000,Alabama,12.0,Per capita personal consumption expenditures (...,18235,19157,20158,20868,21700,22673,...,30365,31130,32005,33020,34053,35388,34944,39382,42508,44529
41,01000,Alabama,15.0,Total employment (number of jobs),2361892,2378217,2392225,2376053,2364829,2371429,...,2552256,2587641,2619761,2649222,2692424,2712014,2670753,2769122,2854910,2939353
57,02000,Alaska,12.0,Per capita personal consumption expenditures (...,24110,25423,27243,28599,30252,31704,...,44251,45018,45703,47074,48904,50179,47839,54127,59239,62900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,54000,West Virginia,15.0,Total employment (number of jobs),868370,868236,875561,872546,871215,868312,...,911678,904270,890209,888822,898085,881641,840976,864611,885312,903815
1065,55000,Wisconsin,12.0,Per capita personal consumption expenditures (...,20564,21823,23235,24124,24937,26184,...,35815,36631,37578,39054,40432,41505,40496,45690,49930,52593
1070,55000,Wisconsin,15.0,Total employment (number of jobs),3287793,3350388,3413585,3403719,3395194,3413427,...,3585944,3624473,3657732,3678859,3721096,3717587,3580658,3682359,3775679,3855150
1086,56000,Wyoming,12.0,Per capita personal consumption expenditures (...,20184,21566,22979,23867,24616,26018,...,39564,39653,40452,41471,42888,43915,44408,49298,53869,56941
1091,56000,Wyoming,15.0,Total employment (number of jobs),310043,315198,324653,330130,334129,336769,...,406401,406045,398144,398968,404591,407870,401353,419813,430153,443007

***Need to reshape data for analysis***

In [44]:
## making each year column only one single column
consumer_data_melted = pd.melt(
    consumer_data_filtered,
    id_vars=["GeoName", "Description"],  
    var_name="Year",  
    value_name="Value"  
)
consumer_data_melted
consumer_data_melted["Year"].unique() ## checking unique values

## Dropping non year values
consumer_data_melted = consumer_data_melted[(consumer_data_melted['Year'] != 'GeoFips') & (consumer_data_melted['Year'] != 'LineCode')]
consumer_data_melted

## Took help from chat gpt to do this reshape

consumer_data_new = consumer_data_melted.pivot_table(
    index=['GeoName', 'Year'],
    columns='Description',
    values='Value',
    aggfunc='first'
    ).reset_index()

consumer_data_new

consumer_data_new = consumer_data_new.rename(columns={'GeoName':'State', 'Per capita personal consumption expenditures (PCE) 8': 'Per capita Consumption', 'Total employment (number of jobs)': 'Total Employment'})
consumer_data_new

Description    State  Year Per capita Consumption Total Employment
0            Alabama  1998                  18235          2361892
1            Alabama  1999                  19157          2378217
2            Alabama  2000                  20158          2392225
3            Alabama  2001                  20868          2376053
4            Alabama  2002                  21700          2364829
...              ...   ...                    ...              ...
1347         Wyoming  2019                  43915           407870
1348         Wyoming  2020                  44408           401353
1349         Wyoming  2021                  49298           419813
1350         Wyoming  2022                  53869           430153
1351         Wyoming  2023                  56941           443007

[1352 rows x 4 columns]

***I now have a cleaned dataset, however, my energy data has a state variable which has state abbreviations, while this dataset has full name, so to standardize both, i will replace the full state name under State column in this dataset to abbrevited names.***

In [45]:
state_abbreviations = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO',
    'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
    'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH',
    'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT',
    'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY',
    'United States': 'US'
}

consumer_data_new['State'] = consumer_data_new['State'].replace(state_abbreviations)
consumer_data_new

Description State  Year Per capita Consumption Total Employment
0              AL  1998                  18235          2361892
1              AL  1999                  19157          2378217
2              AL  2000                  20158          2392225
3              AL  2001                  20868          2376053
4              AL  2002                  21700          2364829
...           ...   ...                    ...              ...
1347           WY  2019                  43915           407870
1348           WY  2020                  44408           401353
1349           WY  2021                  49298           419813
1350           WY  2022                  53869           430153
1351           WY  2023                  56941           443007

[1352 rows x 4 columns]

In [46]:
print(consumer_data_new['Year'].dtype) ## I wanted to drop year values to only 2000-2022 but it seems my year column is not int so i need to convert

object

In [49]:
consumer_data_new['Year'] = pd.to_numeric(consumer_data_new['Year'])
print(consumer_data_new['Year'].dtype)
consumer_data_new

int64

Description State  Year Per capita Consumption Total Employment
0              AL  1998                  18235          2361892
1              AL  1999                  19157          2378217
2              AL  2000                  20158          2392225
3              AL  2001                  20868          2376053
4              AL  2002                  21700          2364829
...           ...   ...                    ...              ...
1347           WY  2019                  43915           407870
1348           WY  2020                  44408           401353
1349           WY  2021                  49298           419813
1350           WY  2022                  53869           430153
1351           WY  2023                  56941           443007

[1352 rows x 4 columns]

In [50]:
### I only want to keep data for years 2000-2022

consumer_data_clean = consumer_data_new[
    (consumer_data_new["Year"].astype(int) >= 2000) & (consumer_data_new["Year"].astype(int) <= 2022)
].reset_index()
consumer_data_clean

Description  index State  Year Per capita Consumption Total Employment
0                2    AL  2000                  20158          2392225
1                3    AL  2001                  20868          2376053
2                4    AL  2002                  21700          2364829
3                5    AL  2003                  22673          2371429
4                6    AL  2004                  23932          2425650
...            ...   ...   ...                    ...              ...
1191          1346    WY  2018                  42888           404591
1192          1347    WY  2019                  43915           407870
1193          1348    WY  2020                  44408           401353
1194          1349    WY  2021                  49298           419813
1195          1350    WY  2022                  53869           430153

[1196 rows x 5 columns]

***Now I have a cleaned reshaped dataset that I can merge with my energy consumption dataset for analysis. Before that, I will need to setup my energy expenditure dataset in the same way for merging***

In [51]:
energy_exp_gdp = pd.read_excel("pr_ex_tot.xlsx",sheet_name="Expenditures per GDP", header=2)
energy_exp_gdp

energy_expgdp_melted = pd.melt(
    energy_exp_gdp,
    id_vars=["State"],  
    var_name="Year",    
    value_name="Exp_GDP_%" 
)
energy_expgdp_melted

## only keep years 2000-2022
filter_energy_expgdp = energy_expgdp_melted[
    (energy_expgdp_melted["Year"].astype(int) >= 2000) & (energy_expgdp_melted["Year"].astype(int) <= 2022)
].reset_index()
filter_energy_expgdp

filter_energy_expgdp = filter_energy_expgdp.drop(['index'], axis=1) # dropping index columns
filter_energy_expgdp

     State  Year  Exp_GDP_%
0       AK  2000      10.55
1       AL  2000       9.99
2       AR  2000      10.39
3       AZ  2000       6.41
4       CA  2000       5.04
...    ...   ...        ...
1191    WA  2022       4.62
1192    WI  2022       7.71
1193    WV  2022      11.16
1194    WY  2022      13.30
1195    US  2022       6.68

[1196 rows x 3 columns]

***Now merging two datasets***

In [52]:
#### Merge datasets on State and Year
merged_df1 = pd.merge(filter_energy_expgdp, consumer_data_new, on=["State", "Year"], how="inner")
merged_df1

     State  Year  Exp_GDP_% Per capita Consumption Total Employment
0       AK  2000      10.55                  27243           389734
1       AL  2000       9.99                  20158          2392225
2       AR  2000      10.39                  18878          1482449
3       AZ  2000       6.41                  23528          2801510
4       CA  2000       5.04                  24843         19228895
...    ...   ...        ...                    ...              ...
1168    WA  2022       4.62                  57104          4764618
1169    WI  2022       7.71                  49930          3775679
1170    WV  2022      11.16                  44977           885312
1171    WY  2022      13.30                  53869           430153
1172    US  2022       6.68                  53082        210414200

[1173 rows x 5 columns]

In [ ]:
## Converted the Year Variable to int
consumer_data_melted["Year"].unique()

consumer_data_melted['Year'] = pd.to_numeric(consumer_data_melted['Year'])
print(consumer_data_melted['Year'].dtype)

int64

: